/* NAVIGATION BAR */
#navigation {
	margin: 0;
	border-radius: 0;
}
.navbar li{
	list-style: none;
	display: inline;
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size:2rem;
}

.fa-linkedin {
	background:#007bb6
}

/* HEADER */
.header {
	margin:0;
	padding: 210px;
	background-color: #76C4AE;
}

.header h1{
	color: white;
	font-size:4rem;
	font-family: 'Libre Baskerville', serif;
   	font-weight: 700;
}

/* ABOUT ME */
#headshot {
	border-radius: 50%;
	max-height: 100%;
	max-width: 100%;
}

#bio {
	padding:0;
	margin: 0;
}

#bio h1{
	margin-top:0;
	margin-bottom: 30px;

}
#bio p{
	font-family: 'Open Sans', sans-serif;
   	font-weight: 200;
   	font-size: 1.3em;
   	padding: 10px;
   	color: white;
}

#projects h1{
	margin: 40px;
	padding: 0;
	font-size:4rem;
	font-family: 'Libre Baskerville', serif;
   	font-weight: 700;
	color: #1d2120;
}

/* PROJECTS */
#projects {
	background-color: white;
}
#projects div{
	padding-left: 0;
	padding-right: 0;
}

.portfolio-col {
	box-shadow: 10px 10px 6px #888888;
	margin-bottom: 50px;
}


#projects img {
	max-width: 100%;
	border: 1px solid #e3e3e3;
}

#projects .caption {
	margin:0;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
   	font-weight: 200;
	background-color: #bcd5d1;
	color:#1d2120;
}

#projects .caption h2{
	font-family: 'Libre Baskerville', serif;
	font-size:3rem;
}

#projects p{
	font-style: oblique;
}


/* CONTACT */
#contact {
	color: 1d2120;
	font-size:4rem;
	font-family: 'Libre Baskerville', serif;
   	font-weight: 700;
	height: 250px;
}

.fa-linkedin-square {
	color: #0077B5;
}

.fa-github-square {
	color: #333333;
}
